.home{
    margin: 0% 6%;
    width: 90%;
    display: flex;
    padding: 0px 0px 0px 30px;
    
}
.home-1{
    width: 50%;
}

.inner{
    width: 100%;
    padding-right: 40px;
}
.head{
    font-size: 48px;
}
.video{
    position: relative;
    display:flex ;
    justify-content:center ;
    align-items: center;
    padding: 0px 0.2px 0px 0.2px;
    width:510px;
    height: 260px;
    overflow: hidden;
}
.video::before{
    content: "";
    position: absolute;
    width: 550px;
    height: 140%;
    background: linear-gradient(#140995, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes  animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(350deg);
    }
}
.video .vid{
    z-index: 10;
}
