.home{
    margin: 0% 6%;
    width: 90%;
    display: flex;
    padding: 0px 0px 0px 30px;
    
}
.home-1{
    width: 50%;
}

.inner{
    width: 100%;
    padding-right: 40px;
}
.head{
    font-size: 50px;
}
.video{
    border-radius: 20px;
    /* background-color: aqua; */
    display:grid;
    justify-content:center ;
    align-items: center;
    padding: 50px 50px 0px 50px;
}

.react-player{
    border-radius: 6px;
}