.sidebar{
    margin: 0;
    padding: 0px 5px 0px 0px;
    width: 5%;
    height: 100vh;
    position: fixed;
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
    background-color: antiquewhite;
    display:block;
    justify-content: space-around;
    text-align: center;
}

.main-logo{
    padding-top: 20px;
}
.navigation ul{
    padding: 30px 0px ;
    list-style: none;
    margin: 0;
}
.navigation li{
    margin: 30px 0px;
    border-left: 2px solid #e473ff;
}
.svg{
    width: 25px;
    height: 25px;
    filter:invert(1);
}

.navbar{
    width: 95%;
}
